---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$majestic-blue: #18243e;
$majestic-burgandy: #7f283b;
$majestic-beige: #a2835f;
$majestic-magnolia: #f3ebd0;
$majestic-ivory: #f2f1f1;

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  background-color: $majestic-ivory;
}


em {
  font-style: normal;
  color: $majestic-beige;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 100;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  color: $majestic-beige
}

.bg-dark {
  background-color: $majestic-blue !important;
}

.logo {
  width: 115px;
  height: 47px;
  background: url(../img/logo.png) no-repeat top left;
  background-size: 115px 47px;
}

footer a {
  text-decoration: none;
  color: $majestic-ivory;
}

.desktop-contact {
  margin-top: -1rem;
  margin-bottom: -2rem;
  background-color: $majestic-beige;
  z-index: 1000;
  .phone-number a {
    font-size: 1.65rem;
    font-weight: 600;
    color: $majestic-burgandy;
  }
  .email a {
    font-size: 0.75rem;
    font-weight: 600;
    color: $majestic-ivory;
  }
}

.mobile-contact {
  background-color: $majestic-blue;
  .phone-number a {
    font-size: 1.25rem;
    color: $majestic-beige;
    text-decoration: none;
  }
  .addr {
    display: block;
    color: $majestic-ivory;
    font-size: 0.75em;
  }
}

nav .dropdown-menu {
  background-color: lighten($majestic-blue,5);
  .nav-link {
    color: rgba(255,255,255,.5) !important;
  }

  .nav-link:hover {
    color: #fff !important;
    background-color: $majestic-blue;
  }
}

@media (max-width: 991px) {
  .navbar-collapse {
    position: fixed;
    top: 77px;
    right: 0;
    width: 40%;
    z-index: 1000;
    background-color: $majestic-burgandy;
    .nav-link {
      color: $majestic-ivory !important;
    }
    .active {
      color: $majestic-beige;
    }
    ul {
      font-family: 'Playfair Display', serif;
      li {
        padding: 0.5rem 3rem !important;
      }
    }
    .mobile-contact {
      background-color: $majestic-burgandy;
      border-top: 1px solid $majestic-beige;
    }
  }

}

@media (max-width: 768px) {
  .navbar-collapse {
    left: 0;
    width: 100%;
    z-index: 1000;
    .nav-link {
      color: $majestic-ivory !important;
    }
    .active {
      background-color: $majestic-beige;
    }
    ul {
      font-family: 'Playfair Display', serif;
    }
    ul:first-child {
      border-bottom: none;
    }
    li {
      padding: 0.5rem 3rem !important;
      background-color: $majestic-burgandy;
      border-bottom: 1px solid $majestic-beige;
    }
    .mobile-contact {
      background-color: $majestic-blue;
      border-top: none;
    }

  }
}

.carousel {

  .carousel-item {
    margin-bottom: -1rem;
    max-height: 40rem;
  }

  .carousel-caption {
    bottom: unset;
    top: 5rem;
    background: rgba(0, 0, 0, 0.75);
    padding: 1em;
  }

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }

  @media (max-width: 991px) {
    .carousel-caption {
      top: 3rem;
    }
    h1 {
      font-size: 1.2rem;
    }
    h2 {
      font-size: 0.9rem;
    }
    h3 {
      font-size: 0.8rem;
    }
    p {
      font-size: 0.8rem;
    }
    img {
      width: 10rem;
    }
  }

  @media (max-width: 768px) {
    .carousel-caption {
      top: 0.25rem;
    }
  }

  .carousel-indicators {
    justify-content: unset;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    bottom: 1.5rem;
    li {
      width: 20px;
      height: 20px;
      border-radius: 10px;
      border: 3px solid $majestic-ivory;
      background-color: transparent;
    }
    li.active {
      background-color: $majestic-beige;
    }
  }
}

.jumbotron {
  position: relative;
  margin-top: -1rem;
  background-color: $majestic-ivory;
  padding: 3rem 5rem;
}


footer {
  color: $majestic-ivory;
  .quotation {
    background-color: $majestic-burgandy;
    form {
      input::placeholder {
        color: $majestic-ivory;
      }
      input, textarea, select {
        border: 2px solid $majestic-ivory;
        background-color: $majestic-burgandy;
        color: $majestic-ivory;
        border-radius: 0;
      }
      button {
        background-image: url(../img/submit.png);
        border: none;
        width: 157px;
        height: 40px;
        border-radius: 0;
      }
    }
  }
  .info {
    background-color: $majestic-blue;
  }
  .tail {
    background-color: lighten($majestic-blue,5);
    font-size: 0.75rem;
  }
}

.our-services, .our-projects, .our-team, .contact-us, .service {
  .carousel-inner {
    height: 20em;
    align-items: flex-end;
    display: flex;
  }
}

.our-projects {
  h3 {
    color: $majestic-ivory;
  }
  h4 {
    color: $majestic-blue;
  }

  .featured a, .featured a:hover {
    color: $majestic-ivory;
    text-decoration: none;
  }
  .card-img-overlay {
    .card-title {
      width: 66%;
      text-align: left;
      background: rgba(0, 0, 0, 0.75);
      h6 {
        color: $majestic-beige;
      }
    }
  }
}

.our-services {
  a {
    img {
      border: 1px solid $majestic-burgandy;
    }
  }
}

.project {
  .carousel-item {
    height: 20em;
  }
}

.contact-details {
  font-size: 1.4em;
}


.project {
  @media (min-width: 768px) {
    .carousel-item {
      margin-bottom: -1rem;
      height: 30em;
      max-height: 40rem;
    }
  }

  @media (min-width: 1200px) {
    .carousel-item {
      margin-bottom: -1rem;
      height: 40em;
      max-height: 50rem;
    }
  }

  @media (min-width: 1800px) {
    .carousel-item {
      margin-bottom: -1rem;
      height: 50em;
      max-height: 60rem;
    }
  }
}
