<footer>
    <div class="quotation pt-5">
        <div class="container">
            <h2 class="text-center pb-3">Contact us today for your free quotation</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="row">
                <div class="col col-md-6 col-12 pb-5">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <select class="form-control">
                                <option value="" disabled selected>Choose service</option>
                                <option>Restoration</option>
                                <option>Service</option>
                                <option>Special projects</option>
                                <option>Recomissioning and road safety</option>
                                <option>Race prep &amp; support</option>
                                <option>Engine &amp; gearbox rebuild</option>
                                <option>Kit car build</option>
                                <option>Welding and panel repair</option>
                                <option>Reverse engineering and bespoke parts</option>
                                <option>Auto electrics</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="message">Your message</label>
                            <textarea class="form-control" id="message" rows="5"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary"><span class="sr-only">Send</span></button>
                    </form>
                </div>
                <div class="col col-md-6 col-12 pb-5">
                    <div class="fb-page" data-href="https://www.facebook.com/Majesticmotorsltd" data-tabs="timeline" data-width="500" data-height="600" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Majesticmotorsltd" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Majesticmotorsltd">Majestic Motors</a></blockquote></div>
                </div>
            </div>
        </div>
    </div>
    <div class="info pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col col-12 col-md-4">
                    <h3>Get in touch</h3>
                    <p class="mt-2">
                        <em>Tel.</em> 01926 658923<br/>
                        <em>Email.</em> info@majestic-motors.co.uk
                    </p>
                </div>
                <div class="col col-12 col-md-4">
                    <h3>Where to find us</h3>
                    <p class="mt-2"><em>Majestic Motors</em>, Table Oak Farm, Table Oak Ln, Kenilworth, CV8 1YP</p>
                </div>
                <div class="col col-12 col-md-4">
                    <h3>Come and see us</h3>
                    <p class="mt-2">Visiting <em>Majestic Motors</em> is by appointment only</p>
                </div>
            </div>
        </div>
    </div>
    <div class="tail text-center pt-3 pb-5">
        <a>terms & conditions</a> | <a>privacy policy</a>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>