<footer>
    <div class="quotation pt-5">
        <div class="container">
            <div class="row">
                <div class="col col-md-6 col-12 pb-5">
                    <h2 class="pb-3">Contact us today</h2>
                    <form method="POST" action="https://23ko2jh4la.execute-api.eu-west-1.amazonaws.com/contact">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input type="text" name="phone" class="form-control" placeholder="Phone number (optional)">
                        </div>
                        <div class="form-group">
                            <select name="service" class="form-control">
                                <option value="" disabled selected>Choose service</option>
                                <option>Restoration</option>
                                <option>Service</option>
                                <option>Special projects</option>
                                <option>Recomissioning and road safety</option>
                                <option>Race prep &amp; support</option>
                                <option>Engine &amp; gearbox rebuild</option>
                                <option>Kit car build</option>
                                <option>Welding and panel repair</option>
                                <option>Reverse engineering and bespoke parts</option>
                                <option>Auto electrics</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="message">Your message</label>
                            <textarea name="message" class="form-control" id="message" rows="5"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary"><span class="sr-only">Send</span></button>
                    </form>
                </div>
                <div class="col col-md-6 col-12 pb-5">
                    <h2 class="pb-3">Follow us on Facebook</h2>
                    <div class="fb-page" data-href="https://www.facebook.com/Majesticmotorsltd" data-tabs="timeline" data-width="500" data-height="600" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Majesticmotorsltd" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Majesticmotorsltd">Majestic Motors</a></blockquote></div>
                </div>
            </div>
        </div>
    </div>
    <div class="info pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col col-12 col-md-4">
                    <h3>Get in touch</h3>
                    <p class="mt-2">
                        <em>Tel:</em> <span class="phone-number"><a href="tel:+441926658923">01926 658923</a></span><br/>
                        <em>Email:</em> <span class="email"><a href="mailto:info@majestic-motors.co.uk">info@majestic-motors.co.uk</a></span>
                        <em>Facebook:</em> <span class="social"><a href="https://www.facebook.com/Majesticmotorsltd/">fb.com/majesticmotorsltd</a></span>
                    </p>
                    <p class="mt-2">
                        We'll always email, message or call you back.
                    </p>

                    <h3>What else do we do?</h3>
                    <a href="https://www.majesticcarstorage.co.uk">Car & Motorbike Storage</a><br/>
                    <a href="https://www.majestic-motorsport.co.uk">Arrive &amp; Drive endurance racing</a>
                </div>
                <div class="col col-12 col-md-4">
                    <h3>Where to find us</h3>
                    <p class="mt-2"><em>Majestic Motors</em>, Table Oak Farm, Table Oak Ln, Kenilworth, Warwickshire CV8 1PX</p>
                    <p class="mt-2">Near to <em>Birmingham</em>, Coventry, Warwick, <em>Oxford</em>, Leamington Spa, Banbury and the <em>Cotswolds</em></p>

                </div>
                <div class="col col-12 col-md-4">
                    <h3>Come and see us</h3>
                    <p class="mt-2">Please call ahead before visiting.</p>
                    <dl>
                        <dt>Mon-Thurs</dt>
                        <dd>8:30am to 5:30pm</dd>

                        <dt>Fri</dt>
                        <dd>8:30am to 12:30pm</dd>

                        <dt>Sat</dt>
                        <dd>By appointment</dd>

                        <dt>Sun</dt>
                        <dd>Closed</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="tail text-center pt-3 pb-5">
        &copy; Majestic Motors Limited 2020 | All rights reserved
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>