<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="shortcut icon" href="/img/favicon.ico">

<!-- Meta Data -->

<meta content="" name="keywords" />
<meta content="Majestic Motors is run by Ben Thompson and are based near Kenilworth in Warwickshire.  We specialise in classic cars & motorbikes and offer a range of services to preserve, restore or enhance your pride & joy." name="description" />

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Poppins:200,400" rel="stylesheet">

<title>{% if page.title %} {{ page.title }} | {% endif %}Classic car & motorbike restoration, modification and customisation | Majestic Motors</title>


<meta property="og:url"                content="{{site.url}}{{page.url}}" />
<meta property="og:type"               content="website" />
{% if page.title %}
<meta property="og:title"              content="Majestic Motors {{ page.title }}" />
{% else %}
<meta property="og:title"              content="Majestic Motors: Classic car & motorbike restoration, modification and customisation" />
{% endif %}
{% if page.description %}
<meta property="og:description"        content="{{ page.description }}" />
{% endif %}
{% if page.image %}
<meta property="og:image"              content="{{site.url}}{{ page.image }}" />
{% endif %}
<meta property="fb:app_id" content="336070697437025"/>