<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="shortcut icon" href="/img/favicon.ico">

<!-- Meta Data -->

<meta content="" name="keywords" />
<meta content="Majestic Motors is run by Ben Thompson and are based near Kenilworth in Warwickshire.  We specialise in classic cars & motorbikes and offer a range of services to preserve, restore or enhance your pride & joy." name="description" />

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Poppins:200,400" rel="stylesheet">

<title>{% if page.title %} {{ page.title }} | {% endif %}Classic car & motorbike restoration, modification and customisation | Majestic Motors</title>


<meta property="og:url"                content="{{site.url}}{{page.url}}" />
<meta property="og:type"               content="website" />
{% if page.title %}
<meta property="og:title"              content="Majestic Motors {{ page.title }}" />
{% else %}
<meta property="og:title"              content="Majestic Motors: Classic car & motorbike restoration, modification and customisation" />
{% endif %}
{% if page.description %}
<meta property="og:description"        content="{{ page.description }}" />
{% endif %}
{% if page.image %}
<meta property="og:image"              content="{{site.url}}{{ page.image }}" />
{% endif %}
<meta property="fb:app_id" content="336070697437025"/>

<script type='application/ld+json'>
    {
        "@context": "http://www.schema.org",
        "@type": "AutomotiveBusiness",
        "name": "Majestic Motors",
        "url": "{{ site.url }}",
        "logo": "{{ site.url }}/img/logo_bw.jpg",
        "image": "{{ site.url }}/img/mexico/finished.jpg",
        "description": "Classic car and motorbike specialists, based near Birmingham, Coventry, Warwick, Oxford, Leamington Spa, Banbury and the Cotswolds",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "Table Oak Farm, Table Oak Lane",
            "addressLocality": "Kenilworth",
            "addressRegion": "Warwickshire",
            "postalCode": "CV8 1PX",
            "addressCountry": "United Kingdom"
        },
        "telephone": "+441926658923",
        "geo": {
            "@type": "GeoCoordinates",
            "latitude": "52.366901",
            "longitude": "-1.651638"
        },
        "hasMap": "https://g.page/MajesticMotorsLtd",
        "openingHours": "Mo 08:30-17:30 Tu 08:30-17:30 We 08:30-17:30 Th 08:30-17:30 Fr 08:30-12:30",
        "email": "info@majestic-motors.co.uk",
        "areaServed": {
            "@type": "GeoCircle",
            "geoMidpoint": {
                "@type": "GeoCoordinates",
                "latitude": "52.366901",
                "longitude": "-1.651638"
            },
            "geoRadius": 100000
        }
    }
</script>

{% if jekyll.environment == "production" %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120024208-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-120024208-1');
</script>
{% endif %}