<div class="container text-justify">
    <div class="card-deck mb-3">
    <div class="card ">
        <div class="card-body">
            <h3 class="card-title">Restoration</h3>
            <p class="card-text">
                We can cater for full or part restoration or just a helping hand to kick start a stalled project.</p>
        </div>
        <div class="card-footer">
            <a href="/services/classic-car-restoration" class="find-out-more stretched-link"><p class="d-lg-none">Find out more</p><img src="/img/find-out-more.png" class="d-none d-lg-block"></a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Servicing</h3>
            <p class="card-text">
                Minor or major service work on your classic vehicle</p>
        </div>
        <div class="card-footer">
            <a href="/services/classic-car-servicing" class="find-out-more stretched-link"><p class="d-lg-none">Find out more</p><img src="/img/find-out-more.png" class="d-none d-lg-block"></a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Welding and panel repair</h3>
            <p class="card-text">
                Welding, panel fabrication and replacement</p>
        </div>
        <div class="card-footer">
            <a href="/services/classic-car-welding-and-panel-repair" class="find-out-more stretched-link"><p class="d-lg-none">Find out more</p><img src="/img/find-out-more.png" class="d-none d-lg-block"></a>
        </div>
    </div>

</div>

    <div class="card-deck mb-3">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Special projects</h3>
            <p class="card-text">
                One offs and specials, custom builds</p>
        </div>
        <div class="card-footer">
            <a href="/services/special-projects" class="find-out-more stretched-link"><p class="d-lg-none">Find out more</p><img src="/img/find-out-more.png" class="d-none d-lg-block"></a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Race preparation</h3>
            <p class="card-text">
                Prepare and tune ready for track use or racing.</p>
        </div>
        <div class="card-footer">
            <a href="/services/race-preparation" class="find-out-more stretched-link"><p class="d-lg-none">Find out more</p><img src="/img/find-out-more.png" class="d-none d-lg-block"></a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Rust proofing</h3>
            <p class="card-text">
                Prevention is better than cure!</p>
        </div>
        <div class="card-footer">
            <a href="/services/classic-car-rust-proofing" class="find-out-more stretched-link"><p class="d-lg-none">Find out more</p><img src="/img/find-out-more.png" class="d-none d-lg-block"></a>
        </div>
    </div>
</div>

    <div class="card-deck mb-3">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Road safety check</h3>
            <p class="card-text">
                Comprehensive MOT-style roadworthiness check for vehicles no longer in need of MOT</p>
        </div>
        <div class="card-footer">
            <a href="/services/road-safety-check" class="find-out-more stretched-link"><p class="d-lg-none">Find out more</p><img src="/img/find-out-more.png" class="d-none d-lg-block"></a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Kit car projects</h3>
            <p class="card-text">
                Full or part build of kitcars and seld build projects</p>
        </div>
        <div class="card-footer">
            <a href="/services/kit-car-projects" class="find-out-more stretched-link"><p class="d-lg-none">Find out more</p><img src="/img/find-out-more.png" class="d-none d-lg-block"></a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Reverse engineering</h3>
            <p class="card-text">
                For hard to find or no longer available spares, components can be realized in 3D CAD and remanufactured</p>
        </div>
        <div class="card-footer">
            <a href="/services/reverse-engineering" class="find-out-more stretched-link"><p class="d-lg-none">Find out more</p><img src="/img/find-out-more.png" class="d-none d-lg-block"></a>
        </div>
    </div>
</div>

    <div class="card-deck mb-3">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Motorbikes</h3>
            <p class="card-text">
                Full or part restoration of classic bikes, modification and customization</p>
        </div>
        <div class="card-footer">
            <a href="/services/classic-motorbikes" class="find-out-more stretched-link"><p class="d-lg-none">Find out more</p><img src="/img/find-out-more.png" class="d-none d-lg-block"></a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Engine &amp; gearbox reconditioning</h3>
            <p class="card-text">
                Engine building and blueprinting. Transmission refreshing</p>
        </div>
        <div class="card-footer">
            <a href="/services/classic-car-engine-and-gearbox-reconditioning" class="find-out-more stretched-link"><p class="d-lg-none">Find out more</p><img src="/img/find-out-more.png" class="d-none d-lg-block"></a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Customisation</h3>
            <p class="card-text">
                If you want your project to be just that little bit different, or to stand out from the crowd.</p>
        </div>
        <div class="card-footer">
            <a href="/services/classic-car-customisation" class="find-out-more stretched-link"><p class="d-lg-none">Find out more</p><img src="/img/find-out-more.png" class="d-none d-lg-block"></a>
        </div>
    </div>
</div>
</div>